
    <nz-layout class="layout">
      <nz-sider
        nzCollapsible
        [(nzCollapsed)]="isCollapsed"
        [nzBreakpoint]="'lg'"
        [nzCollapsedWidth]="0"
        [nzZeroTrigger]="zeroTrigger"
      >
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nzSelected nz-menu-item (click)="this.pageSelected='overview'">
            <i nz-icon nzType="user"></i>
            <span>数据概览</span>
          </li>

          <li nz-submenu nzTitle="数据管理" nzIcon="appstore">
            <ul>
              <li nz-menu-item (click)="this.pageSelected='datasimport'">导入</li>
              <li nz-menu-item (click)="this.pageSelected='datasoutput'">导出</li>
              <li nz-menu-item (click)="this.pageSelected='archmanage'">架构管理</li>
              
            </ul>
          </li>
          <li nz-menu-item (click)="this.pageSelected='usersmanage'">
            <i nz-icon nzType="upload"></i>
            <span>用户管理</span>
          </li>
          <li nz-menu-item (click)="this.pageSelected='settings'">
            <i nz-icon  nzType="user"></i>
            <span>设置</span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header>
          
          <h1>
              <p style="text-indent:2em"> “一带一路”重大工程地球大数据监测与分析平台</p>
           </h1>
        
        </nz-header>
        <nz-content>
          <div id='active-window' class="inner-content" [ngSwitch]="this.pageSelected">
     

            <app-overview *ngSwitchCase="'overview'">
              这里是数据概览内容
            </app-overview>
            <app-datas-manage-page *ngSwitchCase="'datasimport'"></app-datas-manage-page>
            <ng-container *ngSwitchCase="'datasoutput'">
              这里是导出内容
            </ng-container>
            <ng-container *ngSwitchCase="'archmanage'">
              这里是架构管理内容
            </ng-container>
            <ng-container *ngSwitchCase="'usersmanage'">
              这里是用户管理内容
            </ng-container>
            <ng-container *ngSwitchCase="'settings'">
              这里是设置内容
            </ng-container>
           
            <app-overview *ngSwitchDefault></app-overview>
          </div>

        </nz-content>
        <nz-footer>中科院遥感所©2019 Implement by 325851193@qq.com</nz-footer>
      </nz-layout>
    </nz-layout>
    <ng-template #zeroTrigger>
      <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
    </ng-template>
  